----------------------------------------
Windows 10/11
----------------------------------------
SFML, Visual C++ 17 (2022) 64-bit
https://www.sfml-dev.org/download/sfml/2.6.1/
----------------------------------------